<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self';">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="authenticate.css">
    <script defer src="../viewscripts/authenticate.js"></script>
    <title>Authenticate</title>
</head>
<body>
    <button id="kuch"></button>
    <div class="wrapper">
        <div class="container">
            <h1>Authenticate</h1>
            <form class="form" id="form">
                <input id="username" type="text" placeholder="Username">
                <input id="password" type="password" placeholder="Password">
                <button type="submit" id="loginBtn">Login</button>
            </form>
        </div>
        
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>